.add-option-form {
  display: flex;
  flex-direction: column;
  padding: $s-size;
}

.add-option__input {
  background: $dark-grey;
  border: none;
  color: white;
  flex-grow: 1;
  margin: 0 0 $s-size 0;
  padding: $s-size;
}

.add-option__input:focus-visible {
  border: 1px solid white;
  outline-color: $app-yellow;
  outline-style: inset;
}

@media (min-width: $desktop-viewport-breakpoint) {
  .add-option-form {
    flex-direction: row;
  }
  .add-option__input {
    margin: 0 $s-size 0 0;
  }
}
