.add-option-form {
  display: flex;
  padding: $s-size;
}

.add-option__input {
  background: $dark-grey;
  border: none;
  color: white;
  flex-grow: 1;
  margin-right: 5px;
  padding: 0 $s-size;
}

.add-option__input:focus-visible {
  border: 1px solid white;
  outline-color: $app-yellow;
  outline-style: inset;
}
