.button {
  background: $app-yellow;
  border: none;
  font-weight: 500;
  color: $off-black;
  padding: $s-size;
  border-radius: $s-size;
}

.button:disabled {
  opacity: 50%;
}

.button--active:hover {
  transform: scale(1.01);
}

.button--link {
  background: none;
  border: none;
  color: $app-yellow;
}

.button--link--active:hover {
  text-decoration: underline;
  background: none;
  color: $bright-yellow;
}

.button--main-button {
  font-size: $l-size;
  font-weight: 600;
  width: 100%;
  padding: $m-size;
}
