.button {
  background: $app-yellow;
  border: none;
  border-radius: $s-size;
  color: $off-black;
  font-weight: 500;
  padding: $s-size;
}

.button:disabled {
  opacity: 50%;
}

.button--active:hover {
  transform: scale(1.01);
}

.button--link {
  background: none;
  border: none;
  color: $app-yellow;
}

.button--link--active:hover {
  background: none;
  color: $bright-yellow;
  text-decoration: underline;
}

.button--main-button {
  font-size: $l-size;
  font-weight: 600;
  margin-bottom: $s-size;
  padding: $m-size;
  width: 100%;
}

.button--main-button--active:hover {
  box-shadow: 0 0 10px yellow;
}

.trash-button {
  align-self: center;
  color: $app-yellow;
  font-size: $m-size;
}

.trash-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (min-width: $desktop-viewport-breakpoint) {
  .button--main-button {
    margin-bottom: $l-size;
  }
}
