.app-header {
  background: $off-black;
  margin-bottom: $m-size;
  padding: $m-size 0;
}

.app-header__title {
  font-size: $l-size;
  margin: 0;
  color: white;
}

.app-header__subtitle {
  font-size: $m-size;
  font-weight: 500;
  color: $app-yellow;
  margin: 0rem;
}

@media (min-width: $desktop-viewport-breakpoint) {
  .app-header {
    margin-bottom: $xl-size;
  }
}
